.slides {
  overflow: auto;
  pointer-events: auto !important;
  border: 1px solid #eeeeee;
}

/* scrollbar for Chrome, Safari and Opera */
.slides::-webkit-scrollbar {
  width: 1px;
  height: 1px;
  background-color: transparent;
}

.slides::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

.slides::-webkit-scrollbar-thumb {
  background: #eeeeee;
}

/* Hide scrollbar for IE, Edge and Firefox */
.slides {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.reveal section {
  text-align: left;
}

.reveal {
  font-size: 20pt;
  text-align: left;
}

.reveal th {
  font-size: 1.8rem;
  text-align: center;
}

.reveal h1 {
  font-size: 3rem;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.reveal h2 {
  background-color: #eeeeee;
  font-size: 2.5rem;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.reveal h3 {
  background-color: #eefeff;
  font-size: 2.0rem;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.reveal h4 {
  background-color: #eeffee;
  font-size: 1.8rem;
  text-align: left;
}

.reveal h5 {
  background-color: #ffeeee;
  font-size: 1.8rem;
  text-align: left;
}

.reveal h6 {
  background-color: #ffeeff;
  font-size: 1.8rem;
  text-align: left;
}
